#body1{
    background-color: orange;
}
#body2{
    background-color: black;
    color: white;
}
#body3{
    background-color: gold;
}
#body4{
    background-color: black;
    color: red;
}
#body5{
    text-align: center;
    background-color: lightblue;
}
#body6{
    text-align: center;
    background-color: lightgreen;
}
#body7{
    text-align: center;
    background-color: cornflowerblue;
}
#heading3{
    color: yellow;
    background-color: black;
}
.h1{
    text-align: center;
}
.paragraph11{
    background-color: rgb(101, 223, 101);
}
.bodyindex{
    background-color: darkcyan;
}
.h1animation{
    text-align: center;
}
.h3animetion{
    text-align: center;
}
.bodyanimation{
    background: radial-gradient(circle,rgb(44, 161, 97),rgb(32, 65, 212),rgb(26, 155, 187),rgb(10, 211, 177));
    // background: url("../image/Best-Animation-Movies.jpg");
    // background-size: cover;
}
.h1inside{
    text-align: center;
}
.p1inside{
    text-align: center;
    background-color: rgb(101, 223, 101);
}
.heading3inside{
    text-align: center;
}
#bodyinside{
    background: linear-gradient(45deg,purple,rgb(100, 5, 145),blue,rgb(59, 37, 160),rgb(24, 96, 179),red,rgb(18, 224, 28),yellow);
}
#h1rata{
    text-align: center;
}
.paragraphrata{
    text-align: center;
}
.paragraphinsid{
    text-align: center;
}
.h1lionking{
    text-align: center;
}
.paragraphlionking{
    text-align: center;
}
#bodylionking{
    background: linear-gradient(orange,white,lightblue,);
}
#h1toystory{
    text-align: center;
}